:root {
  --background: rgb(228, 228, 213);
  --text: rgb(86, 90, 86);
  --link: rgb(141, 154, 110);
  --visited: rgb(113, 135, 109);
}

body {
  background-color: var(--background);
  font-family: 'League Spartan', sans-serif;
  color: var(--text);
  padding: 20px;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited);
}

div {
  padding: 20px;
}

h1 {
  margin: 0px;
}

p, li {
  font-size: 1.5em;
  line-height: 1.5
}

.social {
  font-size: 1.5em;
}

.profile-picture {
  min-width: 35%;
}

/* For mobile phones: */
@media only screen and (max-width: 1000px) {
  .responsive-horizontal {
    flex-direction: column;
  }

  .profile-picture {
    display: flex;
    justify-content: center;
  }
}

/* For wide screens */
@media only screen and (min-width: 1400px) {
  .profile-picture {
    min-width: 467px;
  }

  body {
    width: 1400px;
    max-width: max-content;
    margin: auto;
  }
}
